# Temp NB

In [5]:
%%capture
%load_ext sql
%sql sqlite:///products.db
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [4]:
%%sql
CREATE TABLE products (
    id INTEGER PRIMARY KEY,
    name TEXT,
    price REAL
);

INSERT INTO products (name, price) VALUES
('Pencil', 0.99),
('Notebook', 2.49),
('Backpack', 29.99),
('Laptop', 999.99),
('Water Bottle', 12.50);

 * sqlite:///products.db
Done.
5 rows affected.

[]