# ðŸ§  Data Manipulation and Table Design with SQL

## ðŸŽ¯ Learning Objectives

By the end of this class, students will be able to:

* Insert, update, and delete records in a database.
* Apply `UPSERT` and `REPLACE` strategies to handle conflicts.
* Use the `RETURNING` clause to retrieve affected rows.
* Design and modify database tables and views using DDL (Data Definition Language) commands.

In [1]:
import sqlite3

In [2]:
print("Creating database...")

Creating database...